# игнорируем файлы и каталоги Thumbs.db
Thumbs.db

# игнорируем файлы и каталоги .DS_Store
*.DS_Store

# игнорируем каталоги tmp
/tmp/
tmp/

# игнорируем файлы, заканчивающиеся суффиксами _old, _backup
*_old

*_backup